@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #732678;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


body {
    width:100%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px;
    height: 100vh;
    background-color: #0e010e;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu-side, .song-side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #180023;
    box-shadow: 2px 0px 2px;
    color: #fff;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
  }
  

  ::-webkit-scrollbar-track {
    background: #0d0110;
  }

  ::-webkit-scrollbar-thumb {
    background: #482650;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

header .song-side {
    width: 75%;
    background: #13001d;
}

header .master-play {
    width: 100%;
    height: 10%;
    background: #14001e;
    box-shadow: 0px 3px 8px #100018;
}

/* Menu Esquerdo */

header .menu-side img {
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    font-weight: 500;
    align-items: center ;
}

header .menu-side .playlist{
    margin: 15px 0px 0px 20px;
}

header .menu-side .playlist h4 {
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #504c4c;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu-side .playlist h4:hover {
    color: #fff;
}

header .menu-side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

header .menu-side .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #504c4c;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu-side .playlist h4:hover span::before {
    border: 2px solid #fff;
}

header .menu-side .playlist h4 .bi {
    display: none;
}

header .menu-side .playlist .active{
    color: #9d69b8;
    text-decoration: none !important;
}

header .menu-side .playlist .active span{
    display: none;
}

header .menu-side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}

header .menu-side .menu-song{
    width: 100%;
    height: 310px;
    /* border: 1px solid #fff; */
    margin-top: 60px;
}

header .menu-side .Mlist{
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

header .menu-side .Mlist h6{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;

}
header .menu-side .Mlist a .bi{
    position: absolute;
    right: 100px;
    top: 309px;
    font-size: 18px;
}

/* Baixo */

header .menu-side .menu-song h5{
    font-size: 11px;
    margin-left: 15px;
    color: white;
}

header .menu-side .menu-song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu-side .menu-song li:hover{
    background: rgb(82, 37, 95);
}

header .menu-side .menu-song li span{
    font-size: 12px;
    font-weight: 600;
    color: #504c4c;
}

header .menu-side .menu-song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu-side .menu-song li h5{
    font-size: 11px;
    margin-left: 15px;
}


header .menu-side .menu-song li h5 .subtitle{
    font-size:9px;
    color: #504c4c;
}

header .menu-side .menu-song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

header .master-play {
    display: flex;
    align-items: center;
    padding:  0px 20px;
}

header .master-play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 10px;
}


header .master-play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #732678;
    animation: unset;
}

header .master-play .wave .wave1:nth-child(2){
    height: 13px;
    /* animation-delay: .4s; */
}
header .master-play .wave .wave1:nth-child(3){
    height: 8px;
    /* animation-delay: .8s; */
}

/* javascript class wave */
header .master-play .active2 .wave1{
    animation: wave .5s linear infinite;
}
header .master-play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .master-play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master-play img{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}
header .master-play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 40px;
    color: #fff;
    line-height: 17px;
}
header .master-play h5 .subtitle{
    font-size: 11px;
    color: #504c4c;
}

header .master-play .icon{
    font-size: 30px;
    color: #fff;
    margin: 0px 20px 0px 100px;

}

header .master-play .icon .bi{
    cursor: pointer;
    outline: none;
}
header .master-play .icon .bi:nth-child(2){
    border: 1px solid rgb(105, 105, 170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}

header .master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header .master-play span #currentStart{
    margin: 0px 0px 0px 20px;
}

header .master-play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
}
header .master-play .bar .bar2{
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master-play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master-play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #732678;
}
header .master-play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .master-play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 230px;
    background: rgb(105, 105, 170,.1);
}
header .master-play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -40px;
}
header .master-play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
header .master-play .vol .vol_bar{
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master-play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master-play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #732678;
}

/* TOPO */

header .song-side {
    z-index: 2;
}
header .song-side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song-side ul{
    display: flex;
}
header .song-side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 20px;
    color: #fff; 
    margin-right: 25px ;
    cursor: pointer;
    transition: .5s linear;
}
header .song-side nav ul li:hover{
    color: #732678;
}
header .song-side nav ul li:nth-child(1){
    color: #fff;
}
header .song-side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #9d69b8;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

#divBusca{
    margin-left: 300px;
    background-color:#13001d;
    border:solid 2px #732678;
    border-radius: 30px;
    width: 400px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left: 10px;
    margin-left: 10px;
    font-size:18px;
    border:none;
    height:28px;
    width:266px;
    color: #fff;
  }
  
  #btnBusca{
    margin-left: 0px;
    border:none;
    float:left;
    height:28px;
    border-radius:0 7px 7px 0;
    width:90px;
    font-weight:bold;
    background:#732678;
    cursor: pointer;
    color: #fff;
  }
  
  #divBusca .bi{
    float:left;
    color: white;
    padding-left: 10px;
  }