@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

/* GERAIS */

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #732678;
}

/* selected link */
a:active {
    color: blue;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #0d0110;
}

::-webkit-scrollbar-thumb {
    background: #482650;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
/* --------------------------------- */


body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "aside section section"
    "aside section section"
    "footer footer footer";
	grid-template-rows: 80px auto auto;
	grid-template-columns: 220px auto 20px;
	grid-gap: 0px;
    margin: 10px;  
    height: 100vh!important;
}


section {
	background: #09000a;
	grid-area: section;  
}

aside {
	background: #1a061f;
	grid-area: aside;
    
}

footer {
	background: #0d0110;
	grid-area: footer;
    
}


aside .menu-side img {
    position: relative;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    font-weight: 500;
    align-items: center ;
}

aside .menu-side .playlist{
    margin: 15px 0px 0px 20px;
}

aside .menu-side .playlist h4 {
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #504c4c;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

aside .menu-side .playlist h4:hover {
    color: #fff;
}

aside .menu-side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

aside .menu-side .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #504c4c;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

aside .menu-side .playlist h4:hover span::before {
    border: 2px solid #fff;
}

aside .menu-side .playlist h4 .bi {
    display: none;
}

aside .menu-side .playlist .active{
    color: #9d69b8;
}
aside .menu-side .playlist .active-ac{
    color: white;
}

aside .menu-side .playlist .active span{
    display: none;
}
aside .menu-side .playlist .active-ac span{
    display: none;
}

aside .menu-side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
aside .menu-side .playlist .active-ac .bi{
    display: flex;
    margin-right: 20px;
}


aside .menu-side .menu-song{
    width: 100%;
    height: 310px;
    /* border: 1px solid #fff; */
    margin-top: 60px;
}

aside .menu-side .Mlist{
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

aside .menu-side .Mlist h6{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;

}
aside .menu-side .Mlist a .bi{
    display: flex;
    position: absolute;

    margin-left: 160px;
    font-size: 18px;
}

/* Baixo */

aside .menu-side .menu-song h5{
    font-size: 11px;
    margin-left: 15px;
    color: white;
}

aside .menu-side .menu-song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

aside .menu-side .menu-song li:hover{
    background: rgb(82, 37, 95);
}

aside .menu-side .menu-song li span{
    font-size: 12px;
    font-weight: 600;
    color: #504c4c;
}

aside .menu-side .menu-song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

aside .menu-side .menu-song li h5{
    position: absolute;
    font-size: 11px;
    margin-left: 15px;
}


aside .menu-side .menu-song li h5 .subtitle{
    font-size:9px;
    color: #504c4c;
}

aside .menu-side .menu-song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}





footer .master-play {
    display: flex;
    align-items: center;
    padding:  0px 20px;
}

footer .master-play img{
    width: 35px;
    height: 35px;
    margin-left: 0px;
}
footer .master-play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 40px;
    color: #fff;
    line-height: 17px;
}
footer .master-play h5 .subtitle{
    font-size: 11px;
    color: #504c4c;
}

footer .master-play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 70px 0px 10px;

}

footer .master-play .icon .bi{
    cursor: pointer;
    outline: none;
}
footer .master-play .icon .bi:nth-child(2){
    border: 1px solid rgb(105, 105, 170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}

footer .master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

footer .master-play span #currentStart{
    margin: 0px 0px 0px 20px;
}

footer .master-play .bar{
    position: relative;
    width: 40%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    
}
footer .master-play .bar .bar2{
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 100%;
}
footer .master-play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
footer .master-play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #732678;
}
footer .master-play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

footer .master-play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 200px;
    background: rgb(105, 105, 170,.1);
}
footer .master-play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -40px;
}
footer .master-play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
footer .master-play .vol .vol_bar{
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 100%;
    top: 0;
}
footer .master-play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
footer .master-play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #732678;
}


section .song-side {
    z-index: 2;
}
section .song-side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .song-side ul{
    display: flex;
}
section .song-side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 20px;
    color: #fff; 
    margin-right: 25px ;
    cursor: pointer;
    transition: .5s linear;
    margin-top: 20px;
}
section .song-side nav ul li:hover{
    color: #732678;
}
section .song-side nav ul li:nth-child(1){
    color: #fff;
}
section .song-side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #9d69b8;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
    
}

#divBusca{
    margin-left: 300px;
    background-color:#13001d;
    border:solid 2px #732678;
    border-radius: 28px;
    width: 400px;
    height:32px;
    padding-bottom: 20px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left: 10px;
    margin-left: 10px;
    font-size:18px;
    border:none;
    height:27px;
    width:266px;
    color: #fff;
  }
  
  #btnBusca{
    margin-left: 0px;
    border:none;
    float:left;
    height: 30px;
    border-radius:0 10px 10px 0;
    width:90px;
    font-weight:bold;
    background:#732678;
    cursor: pointer;
    color: #fff;
    padding-bottom: 20px;
    margin-top: -1px;
  }
  
  #divBusca .bi{
    float:left;
    color: white;
    padding-left: 10px;
  }