@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


* {
  margin: 0;
  padding: 0;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* selected link */
a:active {
  color: white;
}


::-webkit-scrollbar {
  width: 1vh;
}


::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #482650;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Poppins-Regular", sans-serif;
}

/* NavBar */

header nav a {
  color: #482650;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 4vh;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Poppins-Regular", sans-serif;
}
.logo:hover{
  color: #d34999;
}

header nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins-Regular", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  height: 8vh;
  backdrop-filter: blur(8px);
  transition: .7s ease;

}
header nav:hover{
  background-color: rgba(0, 0, 0, 0.699);
  height: 10vh;
}

header .nav-list {
  list-style: none;
  display: flex;
}

header .nav-list li {
  letter-spacing: 3px;
  font-size: 2vh;
  margin-left: 3vh;
  margin-top: 13px;
  font-family: "Poppins-Regular", sans-serif;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: rgb(24, 24, 24);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    backdrop-filter: blur(8px);
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;

  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* ShowCase */

#showcase {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(./Imgs/video1.gif);
  background-size: 220vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  transition: .7s ease;
}
#showcase:hover {
  height: 100vh;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 60%;
}

#showcase .showcase-container h3 {
  font-size: 3vh;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black
}

#showcase .showcase-container h2 {
  margin-top: 4vh;
  font-size: 10vh;
}

/* Unique  */
#showcase .btn-primary {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: .7s ease;
  
}
#showcase .btn-primary:hover{
  background: white;
  color: black;
  opacity: 1;
  
}

.logo {
  height: 40px;
  width: auto;
}

.flogo {
  height: 70px;
  width: auto;
}


/* ShowCase 2*/

#showcase2 {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(./Imgs/slide_1.jpg);
  background-size: 220vh;
  background-blend-mode: color;
  transition: .7s ease;
}
#showcase2:hover {
  height: 120vh;
}

#showcase2 .showcase-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase2 .showcase-container2 h3 {
  font-size: 3vh;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black
}

#showcase2 .showcase-container2 h2 {
  font-size: 10vh;
  text-shadow: 0.1em 0.1em 0.2em black
}

/* ShowCase 3*/

#showcase3 {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(./Imgs/funndo9.jpeg);
  background-size: 220vh;
  background-blend-mode: color;
  transition: .7s ease;
}
#showcase3:hover {
  height: 120vh;

}

#showcase3 .showcase-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#showcase3 .showcase-container3 h3 {
  font-size: 3vh;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black
}


#showcase3 .showcase-container3 h2 {
  font-size: 10vh;
  text-shadow: 0.1em 0.1em 0.2em black
}




ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #482650  ;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #482650;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #482650;
  padding: 13px 20px;
  border: 1px solid #8c489b;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
/* footer


#footer {
  background: black;
  color: white;
}

#footer .footer-container {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 50px 0;
}

#footer .footer-container img.logo {
  padding: 0 30px;
}

#footer .footer-container .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #91949B;
  font-size: 1rem;
}

#footer .footer-container .footer-menu {
  margin: 0 28px;
  list-style: none;
}

#footer .footer-container .footer-menu .footer-menu-item {
  margin: 25px 0;
}

.socials {
  display: flex;

}

.socials i {
  margin: 0 20px;
  font-size: 1.5rem;
}



.site-footer {
  background-color: #000000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h5 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  padding-left: 140px;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 140px;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
} */