* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

#navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color: rgba(0, 0, 0, 0.6);
}
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container .logo{
    height: 40px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li {
    padding: 0 30px;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}


/* ShowCase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(./Imgs/fundo3.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 4rem;
}

/* Unique  */
.btn-primary {
    background-color: white;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}

.logo{
    height: 40px;
    width: auto;
}

.flogo{
    height: 70px;
    width: auto;
}


/* footer */


#footer {
    background: black;
    color: white;
}

#footer .footer-container {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 50px 0;
} 

#footer .footer-container img.logo {
    padding: 0 30px;
}

#footer .footer-container .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #91949B;
    font-size: 1rem;
}

#footer .footer-container .footer-menu {
    margin: 0 28px;
    list-style: none;
}

#footer .footer-container .footer-menu .footer-menu-item {
    margin: 25px 0;
}

.socials {
    display: flex;

}

.socials i {
    margin: 0 20px;
    font-size: 1.5rem;
}