@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");



body {
  background-color: #f4f4f4;

  font-family: "Play", sans-serif;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}




.container-fluid {
  background: blueviolet;
  width: 400px;
  height: 400px;
  color: white;
}
.container-fluid h1{
  background: blueviolet;
  text-align: left;
  padding-top: 110px;
  padding-left: 100px;
  font-size: 60px;
}
.container-fluid p{ 
  text-align: left;
  padding-top: 0px;
  padding-left: 150px;
  font-size: 25px;
}

div#container-fluid {
  background: #f0f0f0;
  align-items: center;
  height: 450px;
  color: white;
}
div#container-fluid .row{
  display: flex;
  align-items: center;
}
div#container-fluid h2{
  text-align: center;
  color: #1e2321 ;
  padding-top: 40px;
  font-size: 50px;
}
div#container-fluid p{
  align-items: center;
  color: #1e2321 ;
  padding-top: 70px;
  padding-left: auto;
  font-size: 17px;
}
div#container-fluid p .bi{
  display: flex;
  font-size: 80px;
}
div#container-fluid p .bi-vinyl-fill{
  display: flex;
  font-size: 80px;
  margin-left: 90px;
  padding-bottom: 20px;
}
div#container-fluid p .bi-badge-ad-fill{
  display: flex;
  font-size: 80px;
  margin-left: 23px;
  padding-bottom: 20px;
}
div#container-fluid p .bi-skip-forward-circle-fill{
  display: flex;
  font-size: 80px;
  margin-left:50px;
  padding-bottom: 20px;
}
div#container-fluid p#p-foot{
  display: flex;
  position: relative;
  color: #1e2321 ;
  text-align: center;
  padding-left: 35%;
  font-size: 17px;
  color: blueviolet;
}



.container {
  width: 100%;
  margin-top: 50px;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 800px;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}

h1,
h2 {
  font-size: 2.2em;
}

.list li {
  font-size: 15px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 20px;
}
.list li .bi{
  font-size: 12px;
  padding-right: 5px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  margin-top: 155px;
  background-color: #800080;
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px #800080;
}

.button2 {
  margin-top: 130px;
  background-color: #800080;
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px #800080;
}

.button3 {
  margin-top: 108px;
  background-color: #800080;
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px #800080;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #50bfe6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.package-container .packages p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 13px;
  font-size: 9px;
  font-family: sans-serif;
}

