/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}

/*---------------------------------------------*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/Views/LoginPage/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

/*---------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html{
    background: #000;
}
body {
    height: 100%;
    font-family: "Poppins-Regular", sans-serif;
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav section section"
        "footer footer footer";
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: clip;
    background: #000;
    max-width: 100%;
}

/*---------------------------------------------*/

/* unvisited link */
a:link {
    color: white
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #1c0720;
    transition: 2s;
}

#logoA:hover {
    color: #b178bd;
    transition: .7s ease;
}

/* selected link */
a:active {
    color: #732678;
}



::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #482650;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* menu  */
header {
    background: #0f0113;
    grid-area: header;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(65, 4, 83);
    transition: .3s ease;
}

header:hover {
    border-bottom: 3px solid rgb(65, 4, 83);
}


header .menu-top #nav1 {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu-top ul {
    display: flex;
}

header .menu-top ul li {
    position: relative;
    list-style-type: none;
    font-size: 3vh;
    color: #fff;
    margin-right: 5vh;
    cursor: pointer;
    transition: .7s ease;
}

header .menu-top ul li.active {
    position: relative;
    list-style-type: none;
    font-size: 3vh;
    color: #fff;
    margin-right: 5vh;
    cursor: pointer;
    transition: .7s ease;
}
header .menu-top ul li.active:hover{
    color: #b178bd;
    font-size: 3.5vh;
    transition: .7s ease;
}

header .menu-top ul li.off {
    position: relative;
    list-style-type: none;
    font-size: 3vh;
    color: gray;
    margin-right: 5vh;
    cursor: pointer;
    transition: .7s ease;
}

header .menu-top #nav1 ul li.off a {
    color: gray;
    transition: .7s ease;
}


header .menu-top #nav1 ul li a:hover {
    color: #b178bd;
    font-size: 3.5vh;
    transition: .7s ease;
}

header .menu-top #nav1 ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #9d69b8;
    bottom: -5px;
    margin-left: 0vh;
    left: 0;
    border-radius: 20px;
}

header .menu-top #nav1 #divBusca {
    margin-left: 60%;
    background-color: #5600b928;
    border-radius: 30px;
    width: 60vh;
    height: 5vh;
}

header .menu-top #nav1 #divBusca #txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 2vh;
    padding-top: 0.4vh;
    margin-left: 1vh;
    font-family: sans-serif;
    font-size: calc(2vh + 0.3vw);
    border: none;
    margin-top: 0.4vh;
    height: 4vh;
    width: 52vh;
    color: #fff;
}

header .menu-top #nav1 #divBusca .bi {
    float: left;
    color: white;
    padding: 0.3vh 0px 0px 3vh;
}

header .menu-top #nav1 .user {
    width: 5vh;
    height: 5vh;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 800%;
}

header .menu-top #nav1 .user img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    transition: .7s ease;

}

header .menu-top #nav1 .user img:hover {
    opacity: 0.7;
    border-radius: 50%;
}





/* lado esquerdo */

#nav-side {
    background: #1c0720;
    grid-area: nav;
    height: 100%;
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: justify;
    border-right: 1px solid rgb(65, 4, 83);
    transition: .3s ease;
    overflow-y: auto;
}

#nav-side:hover {
    border-right: 3px solid rgb(65, 4, 83);
}

#nav-side .menu-side #logoA {
    font-size: 6vh;
    letter-spacing: 10px;
    padding-left: 7vh;
    font-family: Poppins-Medium;
}

#nav-side .menu-side .playlist a h4.off {
    font-size: 4vh;
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
}

#nav-side .menu-side .playlist a h4.off:hover {
    color: #b178bd;
    transition: .5s ease;
    font-size: 4.4vh;
}

#nav-side .menu-side .playlist a h4.active {
    font-size: 4vh;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    transition: .5s ease;
}

#nav-side .menu-side .playlist a h4.active:hover {
    color: #b178bd;
}

#nav-side .playlists {
    width: 100%;
    height: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

#nav-side .playlists h1 {
    font-size: 3vh;
    margin-bottom: 3vh;
    margin-left: 20px;
}

#nav-side .playlists .songItem {
    cursor: pointer;
    transition: .7s ease;
    padding: 10px;
    margin-bottom: 1.4vh;
}

#nav-side .playlists .songItem:hover {
    background: #561d5a;
}

#nav-side .playlists li {
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
}

#nav-side .playlists li img {
    width: 6vh;
    height: 6vh;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: fill;
}

#nav-side .playlists li h5 {
    font-size: 2vh;
    margin-left: 20px;
    margin-top: 5px;
}
#nav2{
    justify-content: space-between;
    display: flex;
    display: none;
    background-color: #280430;
    grid: nav;
    width: 100%;
    align-items: center;
}
#nav2 ul {
    margin-top: 2%;
    height: 4vh;
    display: flex;
}

#nav2 ul li {
    position: relative;
    list-style-type: none;
    font-size: 3vh;
    color: #fff;
    margin-right: 5vh;
    cursor: pointer;
    transition: .7s ease;
}
#nav2 .bi{
    width: 3vh;
    height: 3vh;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: fill;
}

#nav2 img{
    width: 4vh;
    height: 4vh;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: fill;
}



/* lado direito */

section {
    background: #0f0113;
    grid-area: section;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

section #content {
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 28px;
}

section #content h1 {
    font-size: 6vh;
    color: #fff;
    font-weight: 600;
}

section #content p {
    font-size: 2.5vh;
    color: rgb(204, 204, 204);
    font-weight: 600;
}

section .menu-songs {
    width: 100%;
    margin-top: 2%;
}

section .menu-songs .h4 {
    display: flex;
}

section .menu-songs .h4 h3 {
    font-size: 3vh;
    color: #fff;
}

section .menu-songs .h4 .bi {
    color: rgb(139, 139, 139);
    cursor: pointer;
    transition: .7s ease;
}

section .menu-songs .h4 .bi:hover {
    color: #fff;
}

section .menu-songs .pop-songs {
    width: 100%;
    height: 17%;
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

section .menu-songs .pop-songs::-webkit-scrollbar {
    height: 1vh;
}

section .menu-songs .pop-songs .songItems {
    min-width: 19vh;
    height: 25vh;
    list-style-type: none;
    margin-right: 1%;
    transition: .7s ease;
    background: #1c0720;
    border: 1px solid #3e1341;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
}

section .menu-songs .pop-songs .songItems:hover {
    background: #482650;
    border: 4px solid #561d5a;
    font-size: 2vh;
    min-width: 23vh;
    height: 29vh;
    border-radius: 5px;
}

section .menu-songs .pop-songs .songItems .img-song {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .menu-songs .pop-songs .songItems .img-song img {
    width: 100%;
    position: relative;
    height: 100%;
    justify-content: center;
}

section .menu-songs .pop-songs .songItems .img-song .bi {
    position: absolute;
    font-size: 5vh;
    cursor: pointer;
    transition: .7s ease;
    opacity: 0;
}

section .menu-songs .pop-songs .songItems .img-song:hover .bi {
    opacity: 1;
    color: #fff;
    text-shadow: #0f0113;
}

section .menu-songs .pop-songs .songItems h5 {
    padding: 5% 0px 0px 0px;
    line-height: 15px;
    font-size: 2vh;
    color: #fff;
}

section .menu-songs .pop-songs .songItems h5 .subtitle {
    padding: 5% 0px 0px 0px;
    line-height: 15px;
    font-size: 1.6vh;
    color: #918a8a;
}



section .menu-songs {
    width: 150vh;
    height: auto;
    margin: auto;
    /* border: 1px solid #fff; */
    margin-top: 28px;
    margin-left: 40px;
    margin-bottom: 5vh;
}

section .menu-songs .h4 {
    font-size: calc(2vh + 0.3vw);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

section .menu-songs .h4 h4 {
    font-size: calc(2vh + 0.3vw);
}

section .menu-songs .h4 .bi {
    color: rgb(139, 139, 139);
    cursor: pointer;
    transition: .7s ease;
}

section .menu-songs .h4 .bi:hover {
    color: #fff;
}

section .menu-songs .pop-artistis {
    width: 100%;
    height: 20%;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow-x: auto;
    scroll-behavior: smooth;
}

section .menu-songs .pop-artistis::-webkit-scrollbar {
    height: 1vh;    
}

section .menu-songs .pop-artistis .artItems {
    min-width: 18vh;
    height: 18vh;
    border-radius: 100%;
    list-style-type: none;
    margin-right: 10px;
    transition: .7s ease;
    background: #1c0720;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.253);
}

section .menu-songs .pop-artistis .artItems:hover {
    background: #482650;
    min-width: 20vh;
    height: 20vh;
    border: 3px solid rgb(112, 23, 153);
}

section .menu-songs .pop-artistis .artItems h6 {
    position: absolute;
    font-size: calc(1vh + 1vw);
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 15px #000, 0 0 30px #000, 0 0 40px #000, 0 0 40px #000, 0 0 50px #FFF;
    transition: .5s ease;
    opacity: 0;
}

section .menu-songs .pop-artistis .artItems:hover h6 {
    opacity: 1;
    color: #fff;
}

section .menu-songs .pop-artistis .artItems .img-artist {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .menu-songs .pop-artistis .artItems .img-artist img {
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
}


/* CriarPlaylist */

#criarplaylist {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
    border-radius: 20px;
    transition: .7s ease;
    border: none;
}

input::before {
    outline: none;
    border-radius: 2px;
}


textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    transition: .7s ease;
}

textarea::before {
    outline: none;
    border-radius: 2px;
}


textarea:focus,
input:focus {
    border-color: transparent !important;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    margin-left: 30vh;
    /* border: 1px solid #fff; */
}

.wrap-login100 {
    width: 100vh;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    background: #1c0720;
    border-radius: 20px;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Medium;
    font-size: 6vh;
    color: white;
    margin-bottom: 10vh;
    line-height: 1.2;
    text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 10vh;
}
.file{
    color: white;
    position: relative;
    margin-bottom: 10vh;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 3vh;
    color: white;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/

/*------------------------------------------------------------------
[ Button ]*/

#buttons {
    justify-content: space-between;
    align-items: center;
    padding-left: 20vh;
}

#sub {
    font-family: Poppins-Medium;
    font-size: 2vh;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
    width: 20%;
    height: 8vh;
    border: 1px solid #732678;
    background: #3e1341;
    border-radius: 20px;
    transition: .7s ease;
}

#sub:hover {
    background: #482650;
    width: 25%;
    height: 9vh;
}

#voltar {
    font-family: Poppins-Medium;
    font-size: 2vh;
    border: 1px solid #732678;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 17vh;
    height: 8vh;
    background: #3e1341;
    border-radius: 20px;
    transition: .7s ease;
}

#voltar:hover {
    background: #482650;
    width: 25%;
    height: 9vh;
}

/* menu */
.menu{
    float: right;
    left: 200.55vh;
    background-color: #280430;
    position: absolute;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 60%;
    top: 10.5vh;
    transition: .8s ease;
}
.menu .conteudo-menu{
    width: 100%;
    height: 100%;
    display: block;
}
.menu .area1{
    background-color: #60296d;
    height: 7%;
    width: 100%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .area2{
    background-color: #420950;
    height: 50%;
    width: 100%;
    margin-top: 4%;
    border-radius: 10px;
}
.menu #menu-btn{
    width: 100%;
    align-items: center;
    height: 25%;
    border: none;
    background: rgba(0, 0, 0, 0);
    opacity: 0.8;
    transition: .7s ease;
}
.menu #menu-btn:hover{
    opacity: 1;
    background: #2e0438;
}
.menu #config-text1{
    color: white;
    margin-left: 2%;
}
.menu #config-text2{
    color: white;
    font-size: 1.8rem;
    margin-left: 5%;
}
.menu .btn-menu{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sair{
    width: 20vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ab555f;
    border-radius: 10px;
    transition: .5s ease;
    text-transform: uppercase;
    font-weight: bold;
}
#desconectar{
    width: 20vh;
    height: 5vh;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .5s ease;
    text-transform: uppercase;
    font-weight: bold;
}
#sair:hover{
    background-color: #f64358;
}
#desconectar:hover{
    background-color: #000000;
    color: #fff;
}

#perfildiv{
    display: none;
}

/* emBaixo */

footer {
    background: #17011d;
    grid-area: footer;
    height: 100%;
    width: 100%;
}

footer .master-play {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    /* border: 1px solid #fff; */
    overflow-x: hidden;
    overflow-y: hidden;
}

footer .master-play img {
    width: 7vh;
    height: 7vh;
    border-radius: 10px;
}

footer .master-play h5 {
    width: 15vh;
    font-size: 2vh;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 1%;
    color: #fff;
    line-height: 17px;
}

footer .master-play h5 .subtitle {
    font-size: 1.7vh;
    margin-top: 2%;
    color: #797373;
}

footer .master-play .icon {
    font-size: 4.3vh;
    color: #fff;
    margin: 0px 90px 0px 20px;
    transition: .7s ease;
}

footer .master-play .icon #masterPlay {
    transition: .7s ease;
}

footer .master-play .icon #masterPlay:hover {
    color: #732678;
    font-size: 4.2vh;
}

footer .master-play .icon #skip1 {
    transition: .7s ease;
}

footer .master-play .icon #skip1:hover {
    color: #732678;
    font-size: 4.2vh;
}

footer .master-play .icon #skip2 {
    transition: .7s ease;
}

footer .master-play .icon #skip2:hover {
    color: #732678;
    font-size: 4.2vh;
}

footer .master-play .icon .bi {
    cursor: pointer;
    outline: none;
    transition: .7s ease;
}

footer .master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

footer .master-play span #currentStart {
    margin: 0px 0px 0px 10px;
}

footer .master-play span #currentEnd {
    margin: 0px 0px 0px 5px;
}

footer .master-play .bar {
    position: relative;
    width: 30%;
    height: 0.3vh;
    background: rgb(105, 105, 170, .1);
    margin: 0px 3% 0px 2%;
}

footer .master-play .bar .bar2 {
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 0s linear;
}

footer .master-play .bar .dot {
    position: absolute;
    width: 0.6vh;
    height: 0.6vh;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 0s linear;
}

footer .master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 2vh;
    height: 2vh;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -0.7vh;
    top: -0.7vh;
    box-shadow: inset 0px 0px 3px #732678;
}

footer .master-play .bar input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 0s linear;
    opacity: 0.5;
}

footer .master-play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 100px;
    background: rgb(105, 105, 170, .1);
}

footer .master-play .vol .bi {
    position: absolute;
    display: flex;
    color: #fff;
    font-size: 4.2vh;
    top: -1.8vh;
    left: -40px;
    margin-left: -1vh;
}

footer .master-play .vol input {
    position: absolute;
    width: 100%;
    top: -4px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s ease;
    opacity: 0;
}

footer .master-play .vol .vol_bar {
    position: absolute;
    background: #9d69b8;
    width: 0%;
    height: 0.3vh;
    margin: 0px 3% 0px 3%;
    transition: .1s ease;
}

footer .master-play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9d69b8;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s ease;
}

footer .master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #9d69b8;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px #732678;
}

@media (min-width: 400px) and (max-width: 768px) {
    body {
        height: 100%;
        font-family: "Poppins-Regular", sans-serif;
        display: grid;
        grid-template-areas:
            "header "
            "section"
            "footer"
            "nav";
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: clip;
        background: #000;
        width: 10vh;
    }
    section{

    }
    #nav-side{
        display: none;
    }
    #nav2{
        display: block;
    }
    header img{
        display: none;
    }
    footer {
        background: #17011d;
        grid-area: footer;
        height: 100%;
        width: 55vh;
    }
    footer .master-play h5 {
        width: 15vh;
        font-size: 2vh;
        margin-left: -5%;
        margin-right: 3%;
        margin-top: 1%;
        color: #fff;
        line-height: 17px;
    }
    
    footer .master-play h5 .subtitle {
        font-size: 1.7vh;
        margin-top: 2%;
        color: #797373;
    }
    
    footer .master-play {
        display: flex;
        align-items: center;
        width: 55vh;
        justify-content: center;
        height: 100%;
        /* border: 1px solid #fff; */
        overflow-x: hidden;
        overflow-y: hidden;
    }
    footer .master-play img {
        display: none;
    }
    footer .master-play .icon {
        font-size: 4.3vh;
        margin-left: -16vh;
        color: #fff;
        transition: .7s ease;
    }
    footer .master-play span {
        display: none;
    }
    
    footer .master-play .bar {
        display: none;
    }
    
    footer .master-play .bar .bar2 {
        display: none;
    }
    
    footer .master-play .bar .dot {
        display: none;
    }
    
    footer .master-play .bar .dot::before {
        display: none;
    }
    
    footer .master-play .bar input {
        display: none;
    }
    
    footer .master-play .vol {
        display: none;
    }
    
    footer .master-play .vol .bi {
        display: none;
    }
    
    footer .master-play .vol input {
        display: none;
    }
    
    footer .master-play .vol .vol_bar {
        display: none;
    }
    
    footer .master-play .vol .dot {
        display: none;
    }
    
    footer .master-play .vol .dot::before {
        display: none;
    }
  }

#bibliotecadiv{
    display: none;
    grid-area: section;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    border: 1px solid #fff;
}
#bibliotecadiv .biblioteca{
    width: 100%;
    height: 100%;
}